.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tbody tr th,
.table-borderless tbody tr td {
  border: 0px;
}

.table-borderless thead tr.active th,
.table-borderless thead tr.active td,
.table-borderless tbody tr.active th,
.table-borderless tbody tr.active td {
  background-color: #e5e5e5;
}

.table-super-condensed thead tr th,
.table-super-condensed thead tr td,
.table-super-condensed tbody tr th,
.table-super-condensed tbody tr td {
  padding: 3px;
}

.popover {
  max-width: 100%;
}

.classification-up {
  color: #fff;
  background-color: #3a3;
}
.classification-down {
  color: #fff;
  background-color: #c44;
}

.match-type-label {
  margin-left: 6px;
  display: inline-block;
}

.match-scope-toolbar {
  margin-bottom: 10px;
}

.quick-match-indicator {
  margin-bottom: 10px;
}

.match-team-cell {
  vertical-align: middle !important;
}

.match-team-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.match-team-role {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.match-team-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.match-team-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
}

.match-player-name {
  display: inline-block;
  max-width: 100%;
}

.match-player-victory {
  margin-left: 6px;
}
